body {
    font-family: 'Roboto', sans-serif;
}

.center-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.button-style {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 250px;
}

.button-style:hover {
    filter: brightness(75%);
}

.save-button-style {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    opacity: 80%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 292px;
}

.save-button-style:hover {
    filter: brightness(75%);
}

.home-button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: whitesmoke; 
    color: black; 
    text-decoration: none; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    border: 1px solid black;
    border-radius: 10px;
    font-size: 24px;
}

.home-button:hover {
    filter: brightness(75%);
}

.bottom-left-image {
    position: fixed; 
    left: 0; 
    bottom: 0; 
    max-width: 250px; 
    height: auto; 
    margin: 10px;
}

.input-style {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 250px;
}

.datetime-style {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 250px;
}

.dropdown-style {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 290px;
}
